header{
  width: 980px;
  height: 140px;
  background-color: #0D7962;
  text-align: center;
  color: #fff;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 20px;
}
main{
  width: 980px;
  height: 470px;
  margin-left:auto;
  margin-right: auto;
}
aside{
  margin-right: 10px;
  width: 270px;
  height: 450px;
  background-color: #0D7962;
  float: left;
  border: 2px dashed black;
  text-align: center;
  color: #fff;
}

my-section{
  margin-left: 10px;
  width: 680px;
  height: 450px;
  background-color: #0D7962;
  border: 2px dashed black;
  text-align: center;
  color: #fff;
  float: left;
  margin-bottom: 30px;
}

footer{
  width: 980px;
  height: 70px;
  background-color: #0D7962;
  text-align: center;
  color: #fff;
  margin-left:auto;
  margin-right: auto;
}